{% extends 'base.html' %}

{% load static %}

{% block title %} post_archive_day {% endblock %}

{% block header %}
<header class="masthead" style="background-image: url({% static 'img/seoul-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>POST ARCHIVE DAY</h1>
            <span class="subheading">post_archive_day</span>
          </div>
        </div>
      </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
            <h1>Post Archives for {{ day|date:"N d, Y" }}</h1>
            <div>
                <ul>
                    {% for post in object_list %}
                    <li>
                        {{ post.modify_dt|date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;
                        <a href="{{ post.get_absolute_url }}"><strong>{{ post.title }}</strong></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra-script %}{% endblock %}