<!--영역별로 재정의할 블록을 지정해주는 코드-->
<!--타이틀, 헤더, 컨텐트, 추가적인 스크립트 블록!-->
<!--title, header, content, extra-script 블록!-->

<!--base.html을 확장해-->
{% extends 'base.html' %}

{% load static %}

{% block title %} home.html {% endblock %}

{% block header %}
<header class="masthead" style="background-image: url({% static 'img/greece-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>HOME</h1>
            <span class="subheading">hyunah's blog</span>
          </div>
        </div>
      </div>
    </div>
</header>
{% endblock %}

{% block content %}

    <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
          <div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>food</h3>
              </div>
              <img class="img-fluid" src="static/img/food-bg.jpg">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>bintage</h3>
              </div>
              <img class="img-fluid" src="static/img/bintage-bg.jpg">
            </a>
          </div>
          <div class="item branding col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>beach</h3>
              </div>
              <img class="img-fluid" src="static/img/beach-bg.jpg">
            </a>
          </div>
          <div class="item design col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>local</h3>
              </div>
              <img class="img-fluid" src="static/img/local-bg.jpg">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>picnic</h3>
              </div>
              <img class="img-fluid" src="static/img/picnic-bg.jpg">
            </a>
          </div>
          <div class="item branding col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>market</h3>
              </div>
              <img class="img-fluid" src="static/img/market-bg.jpg">
            </a>
          </div>
        </div>

{% endblock %}

{% block extra-script %}{% endblock %}